$font-primary: "Barlow", sans-serif;
$font-secondary: "Fraunces", serif;
$font-size: 1.8rem;

// Primary
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%); // (graphic design text)
$dark-blue: hsl(198, 62%, 26%); // (photography text)
$dark-moderate-cyan: hsl(168, 34%, 41%); // (footer)
$footer-bg: hsl(167, 44%, 70%);

// Neutral

$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Light

$light-blue: hsl(198, 93%, 71%);

$img-url-transform: "../../images/desktop/image-transform.jpg";
$img-url-standout: "../../images/desktop/image-stand-out.jpg";
$img-url-utilities-graphic: "../../images/desktop/image-graphic-design.jpg";
$img-url-utilities-photo: "../../images/desktop/image-photography.jpg";

$img-url-milk: "../../images/desktop/image-gallery-milkbottles.jpg";
$img-url-orange: "../../images/desktop/image-gallery-orange.jpg";
$img-url-cone: "../../images/desktop/image-gallery-cone.jpg";
$img-url-sugarcubes: "../../images/desktop/image-gallery-sugarcubes.jpg";
